<div class="jumbo">
  <div class="right "></div>

  {{input value=newUser placeholder="username"}}
{{input value=newProfession placeholder="profession"}}
{{input value=newPass placeholder="password"}}
{{input value=newID placeholder="newID"}}
  <button {{action 'createUser'}}>Create</button>

</div>
